#wh{
  width:100%;
  height: 1018px;
  background: #ffffff;
}
.headline{
  text-align: center;
}
#what{
  font-family:KaushanScript;
  font-size: 24pt;
  font-style:oblique;
}
#story{
  font-family:Montserrat;
  font-size: 30pt;
}
#line{
  width: 60px;
  background:#f38181;
	height: 5px;
}
#lorem{
  font-family: Roboto;
  font-size: 15pt;
  color:#bfbfbf;
  text-align:center;
  padding-left:360px;
  padding-right:360px;
  font-weight:bold;
}
.photos{
  width: 381px;
  height:251px;
  float:left;
   transition: all 0.2s linear;
  position: relative;
  
  margin: 20px;
  
  
  
}
#ul li{
  display: inline;
}
.block {
  height:300px;
  padding-left:17%;
  
 
}


.photos:hover {
   box-shadow: 2px 2px white, 12px 12px #95e1d3;
  top: -4px;
  left: -4px;
  /*background: linear-gradient(to bottom,#f48b82,#fce28a);*/
  transform: scale(1.1);
}
#ul li{
  display: inline;
}


.footer{
  width: 100%;
  height: 270px;
  background: #95e1d3;
  color:#ffffff;  
}
.raiting{
  padding-left:360px;
  
}
.group{
  width: 241px;
  float: left;
  text-align: center;
}
.group h3{
  font:72px Montserrat, sans-serif;
  margin-bottom: 30px;
  
}
.group span{
   font: 14pt Montserrat,sans-serif;
  
}
.menu-line{
  border-collapse:separate;
  border-left:rgba(255,255,255,0.3) 1px solid;
  height: 270px;
}
 

/*
 
 
 
 
}
  .group span{
   font-size: 14px;
  font-family:Montserrat;
  padding-bottom:20px;
}


*/

  

